# Ignore node_modules directory
node_modules

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore build artifacts
dist
build

# Ignore other specific files or directories
coverage
test
*.test.js
.nx